@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

body {
  /* background-color: rgb(0, 110, 255); */
  text-align: center;
  background-color: #ffffff;
  font-family: 'Avenir', sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1em;
}

button {
  outline: none;
  cursor: pointer;
}