@import url('https://fonts.googleapis.com/css?family=Varela+Round|Montserrat:900');

body {
  background: linear-gradient(#4294ff, #006eff);
  text-align: center;
  color: #fff;
  font-family: 'Varela Round', 'Avenir', sans-serif;
  height: 100vh;
}

h1 {
  font-size: 4em;
}

h2 {
  font-family: 'Avenir', 'Varela Round', sans-serif;
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-family: 'Avenir', sans-serif;
  font-size: 1.3em;
}

h6 {
  font-size: 1em;
}

button {
  outline: none;
  cursor: pointer;
}

.loading {
  margin: 0 auto;
  padding-bottom: 20px;
}