.image-preview-container {
  display: flex;
  flex-direction: column;
}

.image-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40vw;
  padding-left: 30px;
}

.image-preview img {
  height: 40vw;
  width: 40vw;
  border-radius: 20vw;
}

.choose-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 230px;
  width: 200px;
  border: 5px dashed #3f3f3ff1;
  font-size: 22px;
  border-radius: 5px;
  background: transparent;
  margin: 5vh 15vw;
  color: #3f3f3f;
  font-weight: bold;
  cursor: pointer;
  transition: all .2s;
}

.choose-image:before {
  content: url('./../assets/images/upload.svg');
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.choose-image:hover {
  box-shadow: 0px 10px 10px rgba(34, 44, 71, 0.4);
  margin-top: 4vh;
}

.image-results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  min-height: 60vh;
  width: 90vw;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 60px;
  padding-bottom: 40px;
  box-shadow: 0px 5px 5px rgba(61, 61, 61, 0.452);
}

.image-results-headers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.image-result-header {
  font-family: 'Avenir', sans-serif;
  text-align: left;
  color: rgb(31, 31, 31);
  margin: 30px 0;
}

.image-results-content-container {
  display: flex;
  flex-direction: row;
}

.suggestions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45vw;
  min-height: 50vh;
  height: fit-content;
}

.suggestions-container .image-result-header {
  text-align: right;
  margin-right: 30px;
}

.suggestions-labels-container {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

 .suggestions-labels-container>* {
    flex: 1 1 33%;
}

.no-suggestions-headers-container {
  color: rgb(141, 141, 141)
}

.hidden {
  display: none;
}