.image-preview-container {
  display: flex;
  flex-direction: column;
}

.image-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40vw;
  padding-left: 30px;
}

.image-preview img {
  height: 40vh;
  width: 40vh;
  border-radius: 20vh;
}

.choose-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 200px;
  border: 5px dashed #fffffff1;
  font-size: 22px;
  border-radius: 5px;
  background: transparent;
  margin-bottom: 3vw;
  margin-left: 3vw;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.choose-image:before {
  content: url('./../assets/images/upload.svg');
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.image-results-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  height: 60vh;
  width: 90vw;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: 0px 5px 5px rgba(61, 61, 61, 0.452);
}

.image-result-header {
  font-family: 'Avenir', sans-serif;
  text-align: left;
  color: rgb(31, 31, 31);
  margin: 5px 0;
}

.suggestions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45vw;
  height: 50vh;
}

.suggestions-container .image-result-header {
  text-align: right;
  margin-right: 30px;
}

.suggestions-labels-container {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
}

 .suggestions-labels-container>* {
    flex: 1 1 33%;
}