h2 {
  text-align: left;
  margin-left: 5vw;
}

.interim-text {
  color: rgb(73, 73, 73);
}

.empty-section-header {
  color: rgb(119, 119, 119);
}

.recording-button {
  font-family: 'Avenir', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  height: 8vh;
  width: 20vw;
  border-radius: 10px;
}

.recording-button:hover {

}