.login-button {
  font-family: 'Varela Round', 'Avenir', sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
}

.sign-up {
  background-color: rgb(0, 80, 201);
}

.sign-up:hover {
  background-color: rgb(42, 124, 248);
}

.user-profile-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-profile-image {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin-right: 30px
}